<a href="https://colab.research.google.com/github/HaifaAteeq/phase1/blob/main/week1%20/pandas_mastery_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêº Pandas Mastery Exercises
---
This notebook contains practice exercises to master pandas step by step.

## 1. Importing Data

In [ ]:
import pandas as pd
# TODO: Load CSV, Excel, JSON, Parquet using appropriate functions
# Example: df = pd.read_csv('sample.csv')

## 2. Inspecting & Exploring Data

In [ ]:
# TODO: Explore DataFrame using head, tail, info, describe, shape, columns, dtypes

## 3. Selecting & Indexing Data

In [ ]:
# TODO: Select columns, rows by label and position using loc and iloc
# TODO: Apply boolean indexing

## 4. Modifying & Creating Columns

In [ ]:
# TODO: Create new columns, rename, and drop columns

## 5. Handling Missing Data

In [ ]:
# TODO: Detect, fill, or drop missing values using isna, fillna, dropna

## 6. Filtering & Conditional Operations

In [ ]:
# TODO: Filter rows using conditions, isin, between, query

## 7. Aggregation & Grouping

In [ ]:
# TODO: Group data by columns and apply aggregations like mean, sum, count

## 8. Sorting & Ranking

In [ ]:
# TODO: Sort data by values, index and apply ranking

## 9. Merging & Joining

In [ ]:
# TODO: Merge, concatenate and join DataFrames

## 10. Reshaping & Pivoting

In [ ]:
# TODO: Pivot, pivot_table, melt, stack, unstack

## 11. String Operations

In [ ]:
# TODO: Apply string methods (contains, split, replace, lower, upper)

## 12. Date & Time Operations

In [ ]:
# TODO: Convert columns to datetime, extract year/month/day, filter by date range

## 13. Exporting Data

In [ ]:
# TODO: Export DataFrame to CSV, Excel, JSON, SQL